* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgb(212, 179, 88), rgba(0, 0, 0, 0.126));
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(255, 255, 255);
}
#display {
    margin: 0 10px;
    height: 120px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 35px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover {
    transform: scale(1.1);
}
button#equal {
    height: 130px;
}
.calculator {
    background-color: #000000;
}
.calculator #display {
    color: #fff700;
}
.calculator button#clear {
    background-color: #ff0000;
    color: #f8fafb;
}
.calculator button.btn-number {
    background-color: #1cdbe2;
    color: #3e3c38;
}
.calculator button.btn-operator {
    background-color: #554462;
    color: #10e4da;
}
.calculator button.btn-equal {
    background-color: #3acc43;
    color: #ffffff;
}